<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout 1</title>

   <link rel="stylesheet" href="layout.css">

</head>
<body>
  <section class="centering-container center">
    <article class="center-item start">
     <nav class="navigation">
       <h2>Nav</h2>
       <ul class="navlist">
         <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
         <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
         <li class="nav-item"><a class="nav-link" href="#">Clients</a></li>
         <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
       </ul>
     </nav>
    </article>

    <article class="center-item stretch">
      <h2>Main Content</h2><br>
      <h3>I am first in the source order</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium iure dolore, exercitationem totam provident quo facilis sint magni quidem, qui expedita. Consequatur quasi in doloribus quae. Blanditiis harum distinctio amet.</p>

    </article>

    <article class="center-item end">
      <h2>Sidebar</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab tempore minus officiis voluptate voluptatibus cupiditate distinctio autem quaerat, incidunt explicabo sed inventore fugit, aperiam sit ex exercitationem! Magni, quidem dolores.</p>
    </article>

    
    
    
  </section>

  
</body>
</html>