* {
  box-sizing: border-box;
}


body {
  margin: 0;
  min-height: 100vh;

  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
  color: #000;
  background-color: #eee;
}

section {
  margin: 10em 0;
}

h2 {
  font-size: 1em;
}

p {
  font-size: 1em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}