* {
  box-sizing: border-box;
}


body {
  margin: 0;
  min-height: 100vh;

  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
  color: #000;
  background-color: #eee;
}

section {
  margin: 10em 0;
}

h2 {
  font-size: 1em;
}

p {
  font-size: 1em;
}

.center-item {
  padding: 25px;
  flex: 0 1 65%;

  border: 11px solid pink;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* centering2 */

.align-start{
  align-self: flex-start;
}

.align-end{
  align-self: flex-end;
}

.centering-container{
  height: 500px;
  border: 2px dashed;
  margin-right: 30%;
  margin-left: 30%;
}

/* centering3 */

.align-stretch{
  height: 500px;

}

.center-item{
  border: 5px solid pink;
}

/* centering4 */

.column{
 flex-direction: column;
}

.center-item{
  border: 7px solid pink;
}